The line after Content-Type is not exactly body in RFC-2616

https://github.com/jserv/facebooc/blob/ab6a0fed7dc797ece722ba81995f302e896b1a28/src/request.c#L209

[RFC-2616 section 4.1](https://www.rfc-editor.org/rfc/rfc2616.html#section-4.1) says that the HTTP header is dynamic length until an empty newline with "<CR><LF>".
In other words, this is not a correct way to fetch the user posted data in HTTP body.